html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0;
  border: none;
  background-color: rgba(245, 241, 237, 0.3);
}

@media (min-width: 576px) {
  .app {
    margin: 20px;
    border-radius: 20px;
  }
  .navbar {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.home-main {
  height: auto;
  width: 100%;
}
@media (min-width: 992px) {
  .home-main {
    margin: 50px 0;
  }
}
.hero-sec {
  display: block;
  padding: 20px 0;
}

@media (max-width: 576px) {
  .hero-sec {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero-sec h1 {
    font-size: 26px;
    width: 70%;
    text-align: center;
  }
  .hero-sec p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .hero-sec h1 {
    margin-top: 40px;
  }
  .hero-sec button {
    width: 200px;
    margin: 10px 0;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .hero-sec {
    padding: 30px 20px;
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .hero-sec {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .hero-sec {
    text-align: left;
  }
}

.hero-right {
  display: block;
  height: 300px;
  width: 300px;
  margin-top: 40px;
  border-radius: 100%;
  background-image: linear-gradient(
    45deg,
    rgb(151, 82, 255),
    rgb(248, 33, 255),
    rgb(255, 44, 174)
  );
  background-size: 500%;
  animation: right-ball-animate 1.5s ease infinite alternate;
}
.hero-right img {
  height: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .hero-right {
    height: 450px;
    width: 450px;
    display: block;
  }
}

@media (max-width: 992px) {
  .hero-right {
    margin-bottom: 30px;
  }
}

.__first {
  margin: 100px;
}
.__second {
  margin-top: 100px;
  margin-left: 300px;
}
.__third {
  margin-top: 400px;
  margin-left: 200px;
}

/* right-ball animation */

@keyframes right-ball-animate {
  0% {
    background-position: 0%;
    filter: drop-shadow(5px 5px 20px rgb(151, 82, 255));
  }
  100% {
    background-position: 100%;
    filter: drop-shadow(5px 5px 20px rgb(255, 44, 174));
  }
}

.service-main {
  background-image: linear-gradient(
    to left,
    rgb(255, 117, 82),
    rgb(255, 33, 170)
  );
  padding: 40px 0;
}

.service-icon {
  height: 80px;
  width: 80px;
  border-radius: 100%;

  /* clip-path: polygon(100% 0, 0 0, 50% 100%); */
}
.service-icon::before {
  content: '';
  position: absolute;
  display: block;
  height: 80px;
  width: 80px;
  background-color: rgb(54, 54, 54);
  border-radius: 100%;
  transform: translate(-7px, -7px);
  z-index: -1;
}

.card {
  padding: 0 20px;
  height: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.project-main {
  padding: 40px 0;
}

.project-image-container {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  height: auto;
}

.project-img {
  height: 300px;
  width: auto;
  cursor: pointer;
  transition: all 1s ease;
  z-index: -1;
}

.on-hover-div {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(214, 214, 214, 0.319);
  z-index: 100;
  transition: all 1s ease;
  cursor: pointer;
  animation: project-back 0.5s ease infinite alternate;
}

@keyframes project-back {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.on-hover-div .project-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-image-container:hover .on-hover-div {
  height: 100%;
}
.project-image-container:hover .project-img {
  filter: blur(1px);
  transform: scale(1.3);
}

.team-main {
  background-color: rgb(251, 210, 75);
  padding: 40px 0;
  color: white;
}

.team-card {
  height: auto;
  margin: 10px 0;
}

.team-img {
  margin: 10px 0;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  overflow: hidden;
}

/* helper class */
.title-dark {
  color: rgb(62, 62, 62);
}
.para-dark {
  color: rgb(71, 71, 71);
}

.title::after {
  content: ' ';
  display: block;
  height: 5px;
  width: 100px;
  margin: 10px auto;
  background-color: rgb(248, 216, 74);
}
.footer {
  padding: 20px;
}
.footer p {
  font-size: 18px;
}
