html {
  scroll-behavior: smooth;
}

.app {
  margin: 40px;
  border-radius: 20px;
  background-color: rgba(245, 241, 237, 0.3);
}

.navbar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.home-main {
  height: auto;
  width: 100%;
  margin-bottom: 60px;
}
.hero-sec {
  display: block;
  padding: 20px 0;
}

.hero-right {
  display: block;
  height: 450px;
  width: 450px;
  margin-top: 70px;
  border-radius: 100%;
  background-image: linear-gradient(
    45deg,
    rgb(151, 82, 255),
    rgb(248, 33, 255),
    rgb(255, 44, 174)
  );
  background-size: 500%;
  animation: right-ball-animate 1.5s ease infinite alternate;
}

.hero-right_sm {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(255, 235, 124);
}

.__first {
  margin: 100px;
}
.__second {
  margin-top: 100px;
  margin-left: 300px;
}
.__third {
  margin-top: 400px;
  margin-left: 200px;
}

/* right-ball animation */

@keyframes right-ball-animate {
  0% {
    background-position: 0%;
    filter: drop-shadow(5px 5px 20px rgb(151, 82, 255));
  }
  100% {
    background-position: 100%;
    filter: drop-shadow(5px 5px 20px rgb(255, 44, 174));
  }
}

.service-main {
  background-color: rgb(240, 239, 238);
  padding: 40px 0;
}

.title::after {
  content: ' ';
  display: block;
  height: 5px;
  width: 100px;
  margin: 10px auto;
  background-color: rgb(248, 216, 74);
}

.card {
  padding: 30px;
  margin: 10px 0;
  text-align: center;
}

.project-main {
  padding: 40px 0;
}

.project-image-container {
  overflow: hidden;
  border-radius: 10px;
  height: auto;
}

.project-img {
  height: 300px;
  width: auto;
  cursor: pointer;
  transition: all 1s ease;
}
.project-img:hover {
  transform: scale(1.2);
  filter: blur(3px);
}

/* helper class */
.title-dark {
  color: rgb(62, 62, 62);
}
.para-dark {
  color: rgb(71, 71, 71);
}

.footer {
  padding: 20px;
}
.footer p {
  font-size: 18px;
}
